.faq {
  position: relative;
  margin-top: 13.75rem;
  height: 100%;

  & * {
    position: relative;
  }

  &__fixed-background {
    position: absolute;
    height: 110%;
    width: 100%;
    background: $pink;
    border-radius: 12.5rem 0 0 0;
    right: -20%;
    top: -10%;
    padding-bottom: 6.87rem;
  }

  &__header {
    margin-bottom: 5.62rem;
    &__text {
      margin-top: 8%;
      max-width: 45%;

      &__subtitle {
        width: fit-content;
        max-width: 80%;
        margin-top: 2.9%;
      }
    }

    .img-wrapper {
      margin-left: 5%;
    }

    @media screen and (max-width:1080px) {
      & {
        flex-direction: column;
        gap: 50px;

        &__text {
          max-width: 100%;
          text-align: center;
          align-self: flex-start;

          &__subtitle {
            max-width: 100%;
            margin: 3% 0;
          }
        }
      }
    }
  }

  &__questions-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-auto-flow:dense;
    height: 100%;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    align-self: center;

    &__item {
      
      &__question {
        background: #fff;
        height: 5.625rem;
        box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
        border-radius: 0.625rem;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;
        align-self: start;

        &::after,
        &::before {
          content: "";
          position: absolute;
          width: 0.125rem;
          height: 1.25rem;
          background-color: $red;
          right: 2.187rem;
          transition: .4s ease-out;
        }

        &::after {
          transform: rotate(90deg)
        }

        &:focus:before {
          transform: rotate(270deg);
        }

        &__text {
          @include rumedium;
          color: $black;
          margin-left: 2.187rem;
          font-size: 1.125rem;
          line-height: 1.875rem;
          max-width: 65%;
        }
      }

      &__answer {
        
        background: #FFF7F5;
        box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
        border-radius: 10px;
        display: block;
        @include rulight;
        line-height: 1.875rem;
        height: 0;
        transition:  .2s ease-out;
        opacity: 0;
        align-self: start;


      }
    }



    @media screen and (max-width: 1080px) {
      & {
        grid-template-columns: 1fr;

        &__item {        
          &__question {
            height: auto;
  
            &__text {
              margin: 1rem 0 1rem 1rem, ;
            }
          }

          .answer-active {
            padding: 1rem ;
          }
        }
      }
    }
  }
}