.container 
  .faq 
    .faq__fixed-background
    .faq__header.dflex
      .faq__header__text
        h2 faq
        .faq__header__text__subtitle Questions and Answers on Professional Traffic Permits:
      .img-wrapper
        img(src="/src/img/faq.png", alt="faq").adaptive-img
    .faq__questions-grid
      .faq__questions-grid__question 
        .faq__questions-grid__question__text What is a professional traffic permit?
      .faq__questions-grid__question
        .faq__questions-grid__question__text When is a professional traffic permit needed?
      .faq__questions-grid__question
        .faq__questions-grid__question__text  How to check the traffic condition?
      .faq__questions-grid__question
        .faq__questions-grid__question__text  Are there differences between a traffic permit and a professional traffic permit?