header
  .header__img
    .container
      .header__navigation
        +logo
        .header__navigation__links
          a(href="#").header__navigation__links__item ABOUT
          a(href="#").header__navigation__links__item HOW TO
          a(href="#").header__navigation__links__item FAQS
          +headerRedBtn("CONTACT US",  "#")
      h1.page-slogan Your awesome traffic permit consultant.
      +redBtnArrow("GET STARTED", "#")
      