.container
  .about-us 
    .text-content
      h2 about us
      .text-content__description The occupational traffic permit is one of the most important things in the company when carrying out freight transport.  In fact, it is a prerequisite for doing business traffic at all.

      .text-content__question How do you do when you need to obtain a commercial traffic permit for freight transport to your business?

    .block-img
      img(src="/src/img/about.png", alt="about").adaptive-img