doctype html
html(lang="en")
  head
    title Traffico
    link(rel="stylesheet" href="style.css")
    meta(name="viewport" content="width=device-width, initial-scale=0.5")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Rubik:wght@300;500;700&display=swap" rel="stylesheet")
  body
    include components/button/button
    include components/logo/logo
    include components/header/header
    include components/information/information